
language: python
python:
  - "3.5"
install:
  - pip install -r requirements.txt
  - "pip install coveralls"
env:
  - COVERAGE_FILE=".coverage" FLASK_APP="api/run.py" SECRET="dev secret" APP_SETTINGS="testing" TEST_DATABASE_URL="postgresql://postgres@localhost:5432/yummy_recipe_test_db"
services:
  - postgresql
before_script:
  - psql -c 'create database yummy_recipe_test_db;' -U postgres
script:  sh -c 'cd ./api/ && python manage.py test --coverage && coverage report'
after_success:
  sh -c 'cd ./api/ && coveralls'
